/* =====================
   Variables
====================== */
:root {
  --bg-color: #f0f2f5;
  --input-bg: #fff;
  --border-color: #ccc;
  --accent: #6c838b;
  --my-message-bg: #B3C8CF;
  --text-color: #333;
} 