<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/php/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">project/apis</directory>
            <directory suffix=".php">project/statics</directory>
        </include>
    </coverage>
</phpunit> 